@use "../_variables";
@import "../mixin";

.parallax_1 {
  background-image: url("/assets/images/tennis_01.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  @include lg-screen {
    min-height: 400px;
  }
}

.reserves {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  .search-reserves {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: variables.$card-width;
      margin: 0 10px 10px 0;
    }

    .showMore {
      float: right;
      text-align: center;
    }

  }

}

.loading {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;

  .spinner-size {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
  }
}
