@import "../mixin";


.sportCenter {
  width: 100%;

  .formGroup {
    width: 100%;
    margin: 10px;
  }
}

.courts {
  overflow-x: auto;
}

@include md-screen {
  .form {
    width: 400px;
  }
}

@include lg-screen {

  .sportFacilityForm {
    width: auto;
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .formGroup {
      width: 30%;
    }
  }

  .button {
    align-self: end;
  }

}
