@use "../variables";

.navbar {

  background-color: variables.$navbar-bg-color;
  color: variables.$navbar-font-color;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  align-items: center;
  padding: 20px;

  .center_menu {
    grid-column-start: 2;
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-self: center;
  }

  a {
    font-size: 1.3em;
    padding: 10px;
    text-decoration: none;
    color: variables.$navbar-font-color;

    &:hover {
      color: red;
    }
  }
}
