// Break points
$sm-screen: 580px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1200px;

// Web
$web-font-color: #141514;
$web-font-size: 1.25rem;

// Navbar
$navbar-bg-color: #1D0007; // RGB (34, 34, 34)

$navbar-font-color: #f2f3f4; // RGB (242, 243, 244)
$navbar-font-color-hover: #17d0d5; // RGB (23, 208, 213)
$navbar-font-size: 1.3rem;

$navbar-bar-icon: $navbar-font-color;
$navbar-bar-icon-size: 1.5rem;

$navbar-link-padding: 12px 0;
$navbar-link-li-padding: 20px;
$navbar-link-hover-transition: 0.3s ease-in-out;

$navbar-toggler-padding: 8px $navbar-link-li-padding;

// Footer
$footer-bg-color: $navbar-bg-color;
$footer-font-color: $navbar-font-color;
$footer-font-color-hover: $navbar-font-color-hover;

// Cards
$card-width: 330px;

// Pages
  // Home
      $home-searchEngine-background: "/assets/images/searchEngineBackground.webp";
      $searchEngine-border-radius: 20px;

// Modal
  // Search engine bar
      $searchEngine-background-color-sm: #ffffff; // RGB (255, 255, 255)
  // Reserve modal
    // Schedule
      $modal-reserve-schedule-available: rgba(0, 255, 0, 0.5);
      $modal-reserve-schedule-unavailable: rgba(255, 0, 0, 0.5);
      $modal-reserve-schedule-available_hover: rgba(26, 120, 50, 0.8);

// Footer
  $footer-bg-color: rgba(34, 34, 34, 1.0);
  $footer-font-color: rgba(238, 238, 238, 1.0);

// Pages
  // Dashboard page
    // Sidebar navigation menu
      $pages-dashboard-sidebarNav-bg-color: rgba(0, 255, 0, 0.5);
      $pages-dashboard-sidebarNav-font-color: rgba(0, 0, 0, 1.0);
