// Variables
@import "variables";

// Partials
@import 'forms';
@import 'modals';
@import 'cards';

html {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
